{% extends "base.html" %}
{% load static %}

{% block based_head %}
 <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
 {% endblock %}

{% block content %}

 <div style="text-align: center;">
      <h1>{{ title }}</h1>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/Experiences_beach.jpg' %}" class="img-fluid" style="width: 400px; height: 400px; object-fit: cover;">
          <p>{{ content }}</p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="row">
        <div class="col">
          <h1>Premium</h1>
          {{ premium_content }}
        </div>
      </div>
      {% endif %}
    </div>

{% endblock%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Django</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>

  </head>
  <body>
    <div style="text-align: center;">
      <h1>{{ title }}</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/Experiences_beach.jpg' %}" class="img-fluid" style="width: 400px; height: 400px; object-fit: cover;">
          <p>{{ content }}</p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="row">
        <div class="col">
          <h1>Premium</h1>
          {{ premium_content }}
        </div>
      </div>
      {% endif %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>