{% extends "base.html" %}
{% load static %}

{% block based_head %}
 <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
 {% endblock %}

{% block content %}

 <div style="text-align: center;">
      <h1>{{ title }}</h1>
    </div>

      <div class="row">
        <div class="col">
          <img src="{% static 'img/Experiences_beach.jpg' %}" class="img-fluid" style="width: 400px; height: 400px; object-fit: cover;">
          <p>{{ content }}</p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="row">
        <div class="col">
          <h1>Premium</h1>
          {{ premium_content }}
        </div>
      </div>
      {% endif %}
    

{% endblock%}
