{% extends "base.html" %}

{% block content %}
<!-- Add to cart button -->



	<div class="row">
		<div class="col-">
<h1 class="text-center">{{ object.title}}</h1> </br>
{{ object.timestamp|timesince }}
{{ object.description|linebreaks }} </br>
{{ object.price}} </br>

	{% if object.image %}


<img src="{{ object.image.url }}" style="width: 300px; height: 300px; object-fit: cover;" class="img-fluid">

<img src="{{ object.image_two.url }}" style="width: 300px; height: 300px; object-fit: cover;" class="img-fluid">
	{% endif %}
		</div>

	</div>
	<div class="col-" style="display: flex;justify-content: flex-end;">
			{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
</div>
{% endblock %}